.qoutes{
    color:rgb(119, 119, 130);
    margin-top: 10%;
    text-align: center;
   
    
}
.weather {
    text-align: center;
    margin-top: 20%;
    size: 300px;
  
}
.myname {
    text-align: center;
}
.times {
    text-align: center;
}